html {
    font-family: "Exo 2", "sans-serif";
    color: ivory;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background-color: #1e2023;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.forecastElements {
    display: flex;
    justify-content: space-around;
}
#map {
    border: 1px solid darkgray;
}