html {
    font-family: "Exo 2", "sans-serif";
    color: ivory;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    background-color: #1e2023;
}
#page-header {
    display: flex;
    align-content: center;
    justify-content: center;
    color: ivory;
    font-size: larger;
}
